
body {
    font-family: sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #eeeeee; 
}

header {
    background-color: #4795b1; 
    color: white;
    text-align: center;
    padding: 30px;
    border-bottom: 3px solid black;
}


.llistat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    width: 250px;
    border: 1px solid black; 
    padding: 15px;
}

.card h2 {
    color: #4795b1;
    font-size: 1.3em;
    margin-top: 0;
}

.card p {
    color: black;
}


.card a {
    display: block;
    background-color: #2c4da0;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-top: 15px;
    font-weight: bold;
    border: 1px solid black; 
}


.card a:hover {
    background-color: black;
    color: yellow;
}

footer {
    background-color: rgb(53, 107, 131);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}



.detall {
    padding: 20px;

    display: flex;
    justify-content: center;
}

.fitxa-completa {
    background-color: white;
    border: 2px solid black; 
    width: 600px;
    padding: 20px;
}

.fitxa-completa h1 {
    text-align: center;
    color: #2c4da0;
    border-bottom: 2px solid #ccc;
}


.imagen-contenedor {
    text-align: center;
    background-color: #ddd; 
    border: 1px dashed black;
    padding: 10px;
    margin-bottom: 20px;
}

.imagen-contenedor img {
    max-width: 100%;
}

.boton-volver {
    text-align: center;
    margin-top: 20px;
}

.boton-volver a {
    background-color: #555;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid black;
}

.boton-volver a:hover {
    background-color: black;
}